<div class="container">
  <div class="center">
    <h1>Bem vindo(a) ao Climadex!</h1>
    <h4>Uma pokedéx baseada no clima.</h4> 
    <p>
      Para pesquisar por um pokémon, digite o nome de alguma cidade do mundo no campo abaixo e clique no botão ao lado.
    </p>
  </div>
  <form #pokeForm="ngForm">
    <div class="form-row">
      <div class="col-10">
        <input
          class="form-control"
          id="cidade"
          type="text"
          placeholder="Digite o nome de uma cidade do mundo"
          required
          [(ngModel)]="nomeCidade"
          name="cidade"
          #cidade="ngModel">
      </div>

      <div class="col-2">
        <button
          class="btn btn-success"
          (click)="pesquisar()"
          [disabled]="!pokeForm.form.valid">
          Pesquisar
        </button>
      </div>
    </div>

    <div class="form-row">
      <div class="col-10">
        <div *ngIf="cidade.invalid && (cidade.dirty || cidade.touched)" class="alert alert-danger">
      
          <div *ngIf="cidade.errors.required">
            Informe o nome de uma cidade.
          </div>
        </div>

        <div *ngIf="dadosInvalidos" class="alert alert-danger">
          <p>O nome digitado abaixo não corresponde a nenhuma cidade cadastrada na api do OpenWeatherMap.</p>
        </div>
      </div>
    </div>
  </form>
</div>